.banner__container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0rem 2rem 0rem;
    align-items: top;
    box-shadow: -1rem 0 4px -4px #ffffff inset, 1rem 0 4px -4px #ffffff inset;
}

.banner {
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    overflow-x: hidden;
}


.imagem__banner {
    width: fit-content;
    opacity: .75;
    flex-shrink: 0;
    user-select: none;
    animation: scroll 20s linear infinite;

    z-index: -1;
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}

@media screen and (min-width: 768px) {
    .imagem__banner {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .imagem__banner {
        width: 40%;
    }
}