.banner__container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0rem 2rem 0rem;
    align-items: top;
}

.banner {
    display: flex;
    border: 2px solid #aaaaaa;
    height: 150px;
    width: 100%;
    overflow-x: hidden;
}

.imagem__banner {
    width: fit-content;
    opacity: .9;
    flex-shrink: 0;
    user-select: none;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}

@media screen and (min-width: 768px) {
    .imagem__banner {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .imagem__banner {
        width: 40%;
    }
}