.banner {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 4rem 1rem;
    align-items: top;
    justify-content: center;
}

.imagem__banner {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .imagem__banner {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .imagem__banner {
        width: 40%;
    }
}