.destaques {
    display: flex;
    overflow-x: scroll;
    gap: 1.5rem;
    padding: 1.5rem 0rem 3.75rem 1rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.destaque {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #6363633d;
    padding: 0 1.5rem 0 0;
}

.destaque__titulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--cinza-secundario);
}

.destaque__texto {
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: var(--cinza-secundario);
}