.diversos {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    padding: 1.5rem 0rem 4rem 1rem;
}

.diversos__item {
    display: flex;
    flex-direction: column;
    column-gap: 1.25rem;
    row-gap: .7rem;
    border-right: 1px solid #6363633d;
    padding: 0 1rem 0 0;
}

.diversos__titulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #000000;
}