.cabecalho {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem 2.5rem 1rem;
    text-align: center;
}

.cabecalho__logo {
    width: 3rem;
    position: absolute;
    right: 2.2rem;
    top: .5rem;
}

.cabecalho__texto {
    color: var(--vermelho);
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 4px;
}

.cabecalho__titulo {
    font-size: 2.25rem;
    font-family: var(--font-titulo);
    color: var(--cinza-secundario);
    letter-spacing: .09rem;
    text-shadow: 1px 2px 1px #c7c7c7;
}

.cabecalho__subtitulo {
    font-size: 1rem;
    font-weight: 800;
    line-height: auto;
    letter-spacing: .05rem;
    font-family: var(--font-texto);
    color: var(--cinza-secundario);
    opacity: .8;
}

.container_inscrever {

    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .4rem 1rem;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    font-size: 1.1rem;
    font-weight: 500;
}

.inscrever__texto {
    color: #535353;
    opacity: 100%;
}

.inscrever__link {
    color: #EF7B7B;
    font-family: var(font-principal);
    opacity: 100%;
}

.cabecalho__linha {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: #070707;
    opacity: 20%;
}