.manchete {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    padding: 1.5rem 1rem 4rem 1rem;
    gap: 1rem;
}
.manchete__imagem {
    width: 100%;
}

.manchete__titulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--cinza-secundario);
    font-weight: 600;
}

.manchete__subtitulo {
    font-size: 1.25rem;
    line-height: 1;
    color: var(--cinza-secundario);
    font-weight: 400;
    font-style: italic;
    opacity: .6;
    margin-bottom: -.7rem;
    display: none;
}

.manchete__texto {
    font-size: 1.25rem;
    line-height: 1.1rem;
    color: var(--cinza-secundario);
}

@media screen and (min-width: 1024px) {
    .manchete__imagem {
        width: 40%;
    }

    .manchete__texto {
        width: 40%;
    }
}