:root {
    --vermelho: #EF7B7B;
    --cinza-escuro: #636363;
    --cinza-secundario: #535353;

    --font-titulo: "Pirata One", serif;
    --font-texto: "EB Garamond", serif;
    --font-divisor: "UnifrakturCook", cursive;
}

body {
    font-family: var(--font-texto);
    height: 100%;
    position: relative;
    filter: url(#roughpaper);
}

main {
    margin-top: .8rem;
    border-top: 1px solid #5353531a;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    box-shadow: 2px 3px 30px rgb(175, 172, 172), 0px 5px 20px #edc1884c inset;
    filter: url(#feTurbulence-f6aff91e);
    background-color: #fffcf7;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    pointer-events: none; /* Para garantir que a interação com os elementos abaixo não seja bloqueada */
    z-index: 9999;
    opacity: .7; /* Ajuste a intensidade do efeito */
}


@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../assets/jornal.jpg);
        background-repeat: repeat-y;
        background-size: contain;
        
    }

    main {
        width: 80%;
        background-color: white;
    }
}

