:root {
    --vermelho: #EF7B7B;
    --cinza-escuro: #636363;
    --cinza-secundario: #535353;

    --font-titulo: "Pirata One", system-ui;
    --font-texto: "EB Garamond", serif;
    --font-divisor: "UnifrakturCook", cursive;
}

body {
    font-family: var(--font-texto);
    height: 100%;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    url('https://www.transparenttextures.com/patterns/cream-paper.png'); /* Adicionando um leve ruído escuro */
    background-blend-mode: overlay; /* Mistura as texturas */
    pointer-events: none; /* Para garantir que a interação com os elementos abaixo não seja bloqueada */
    z-index: 9999;
    opacity: 0.3; /* Ajuste a intensidade do efeito */
}

#parchment {
    position: absolute;
    display: flex;
    width: 100%;
    padding-bottom: 10rem;

    /* center page with absolute position */
    top: 0%; left: 50%; transform: translate(-50%, 0);
    margin: 0;
    box-shadow: 2px 3px 20px rgb(0, 0, 0), 0 0 60px #eee4d9 inset;
    background: #ffffff;
    filter: url(#wavy2);
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../assets/jornal.jpg);
        background-repeat: repeat-y;
        background-size: contain;
    }

    main {
        width: 80%;
        background-color: white;
    }
}

